<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AntDesign.Docs.WebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <link href="_content/AntDesign.Docs/css/default.css" rel="stylesheet">
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>

</head>

<body>
    <Routes @rendermode="Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveAuto"/>
     <AntContainer />

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
